.footer-container {
  position: relative;
}
.footer-container > hr {
  border: 1px solid var(--lightgray);
}
.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 4rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
}
.social-link {
  display: flex;
  gap: 4rem;
}
.social-link > img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.logo-f > img {
  width: 10rem;
}
.footer-blur-1 {
  width: 26rem;
  height: 12rem;
  right: 15%;
  bottom: 0;
  filter: blur(200px);
  background: red;
}
.footer-blur-2 {
  width: 26rem;
  height: 12rem;
  left: 15%;
  bottom: 0;
  filter: blur(200px);
  background: rgb(255, 115, 0);
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 0;
    height: 12rem;
  }
}
