.join {
  display: flex;
  padding: 0 2rem;
  gap: 10rem;
}
.left-j {
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  font-size: 3rem;
  font-weight: bold;
}
.left-j > hr {
  position: absolute;
  width: 10.5rem;
  border: 2px solid var(--orange);
  border-radius: 20%;
  margin: -10px 0;
}
.left-j > div {
  display: flex;
  gap: 1rem;
}
.right-j {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.email-container {
  display: flex;
  gap: 3rem;
  background-color: gray;
  padding: 1rem;
}
.email-container > input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--lightgray);
}
::placeholder {
  color: var(--lightgray);
}
.btn-j {
  background: var(--orange);
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .join {
    flex-direction: column;
    gap: 1rem;
  }
  .left-j {
    font-size: x-large;
  }
  .right-j {
    padding: 2rem;
  }
  .btn-j {
    width: fit-content !important;
  }
  .left-j > hr {
    left: 2.5rem;
  }

  .left-j > div {
    font-size: 1.4rem !important;
    justify-content: center;
  }
}
